# Exclude everything by default
/*
/*/

# Include .txt files inside base_* folders (placeholders)
!/base_*/
/base_*/*
!/base_*/*.txt

# Include the actual kitchen files
!/build/
!/flavors/
!/.gitignore
!/*.sh
!/*.cfg
!/**/*.md

# Include device sh files
!/devices/
!/devices/*/
/devices/*/*
!/devices/*/*.sh